[submodule "lib/seqan3"]
	path = lib/seqan3
	url = https://github.com/seqan/seqan3.git
	branch = master
[submodule "lib/lemon"]
	path = lib/lemon
	url = https://github.com/seqan/lemon.git
	branch = master
[submodule "lib/robin-hood-hashing"]
	path = lib/robin-hood-hashing
	url = https://github.com/martinus/robin-hood-hashing
	branch = master
[submodule "lib/simde"]
	path = lib/simde
	url = https://github.com/simd-everywhere/simde
	branch = master
