[submodule "lib/seqan3"]
	path = lib/seqan3
	url = https://github.com/seqan/seqan3.git
[submodule "lib/sharg-parser"]
	path = lib/sharg-parser
	url = https://github.com/seqan/sharg-parser.git
[submodule "lib/hibf"]
	path = lib/hibf
	url = https://github.com/seqan/hibf.git
