[submodule "lib/seqan3"]
	path = lib/seqan3
	url = https://github.com/seqan/seqan3.git
	branch = master
[submodule "lib/seqan"]
	path = lib/seqan
	url = https://github.com/smehringer/seqan.git
	branch = chopper
[submodule "lib/lemon"]
	path = lib/lemon
	url = https://github.com/seqan/lemon.git
	branch = master
