name: Coverage

on:
  push:
    branches:
      - 'main'
  pull_request:
    types:
      - unlabeled
  workflow_dispatch:

concurrency:
  group: coverage-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: false

env:
  SHARG_NO_VERSION_CHECK: 1
  TZ: Europe/Berlin

defaults:
  run:
    shell: bash -Eeuxo pipefail {0}

jobs:
  build:
    runs-on: ubuntu-latest
    name: ${{ matrix.compiler }}
    if: github.repository_owner == 'seqan' || github.event_name == 'workflow_dispatch' || github.event.label.name == 'lint'
    strategy:
      fail-fast: false
      matrix:
        compiler: ["gcc-latest"]
    container:
      image: ghcr.io/seqan/${{ matrix.compiler }}
      volumes:
        - /home/runner:/home/runner
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup cache
        uses: seqan/actions/setup-actions-cache@main

      - name: Configure tests
        run: |
          mkdir build && cd build
          cmake .. -DCMAKE_BUILD_TYPE=Coverage
          make gtest_main

      - name: Build tests
        working-directory: build
        run: |
          ccache -z
          make -k api_test cli_test display_layout measure_hyperloglog
          ccache -svvx

      - name: Run tests
        working-directory: build
        run: ctest . -j --output-on-failure

      - name: Generate coverage report
        run: |
          gcovr --root ${GITHUB_WORKSPACE}/test/coverage \
                ${GITHUB_WORKSPACE}/build \
                --filter ${GITHUB_WORKSPACE}/include \
                --filter ${GITHUB_WORKSPACE}/src \
                --exclude ${GITHUB_WORKSPACE}/src/util \
                --exclude-lines-by-pattern '^\s*}|^\s*};' \
                --exclude-noncode-lines \
                --exclude-throw-branches \
                --exclude-unreachable-branches \
                --merge-mode-functions separate \
                -j \
                --cobertura \
                --output ${GITHUB_WORKSPACE}/build/coverage_report.xml

      - name: Submit coverage build
        uses: codecov/codecov-action@v5.5.2
        with:
          disable_search: true
          fail_ci_if_error: false
          files: build/coverage_report.xml
          plugins: noop
          token: ${{ secrets.CODECOV_TOKEN }}
